# Python (кэш и скомпилированные файлы)
__pycache__/
*.py[cod]
*$py.class

# Django (база данных и статика)
*.log
db.sqlite3
media/
staticfiles/

# Виртуальное окружение (папку venv не пушим, она весит сотни мегабайт)
venv/
env/
.venv/

# Настройки IDE (лишний мусор от редактора кода)
.idea/
.vscode/

# Конфиденциальные данные (если есть)
.env